:root, [data-theme="light"] {
    --page-bg-color: #fafafa;
    --page-fg-color: #333333;
    --a-fg-color: #1D84C6;
    --table-bg-color: #FFFFFF;
    --table-border-color: lightgrey;
}
[data-theme="dark"] {
    --page-bg-color: #212529;
    --page-fg-color: #cccccc;
    --a-fg-color: #6e9fff;
    --table-bg-color: #2C3034;
    --table-border-color: dimgrey;
    scrollbar-color: #757575 #2E2E2E;
}

body {
    background-color: var(--page-bg-color);
    color: var(--page-fg-color);
    font-family: Arial, sans-serif;
    font-size: 100%;
    max-width: 860px;
    padding: 10px;
    margin: auto;
}

h1 { font-size: 1.6em; padding-top: 24px; }
h2 { font-size: 1.4em; padding-top: 22px; }
h3 { font-size: 1.15em; }

a { color: var(--a-fg-color); }

ul#toc, ul#toc ul { list-style-type: none; }
ul#toc { padding: 0; }
ul#toc ul { padding-inline-start: 2ch; }

div#newsContainer {
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid var(--table-border-color);
    padding: 6px;
}

div#newsContainer > div {
    font-size: 0.8em;
    font-style: italic;
    color: #888888;
    margin-top: 20px;
    padding-bottom: 0.3em;
}
div#newsContainer div:nth-child(1) {
    margin-top: 0;
}

div#moreNews {
    font-size: 0.8em;
    font-style: italic;
    color: #888888;
    margin-top: 20px;
    line-height: 1.5;
}

div.maps div { display: inline-block; padding-top: 10px; vertical-align: top }
div.maps img { padding-top: 10px; }

table {
    background-color: var(--table-bg-color);
    border-collapse: collapse;
    word-break: break-word;
}

th, td {
    padding: 10px;
    border-top: 1px solid var(--table-border-color);
    border-bottom: 1px solid var(--table-border-color);
    border-left: 0;
    border-right: 0;
}

table.t_courts td:nth-child(3) { text-align:center; }

.warn {
    font-size: small;
    color: red;
}